html{
    font-size: 62.5%;
}

body{
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about"
                         "service service service service"
                         "projects projects projects projects"
                         "rodape rodape rodape rodape";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


/*parte supeior do site*/
.header{
    grid-area: header;
}

.header .cabecalho{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header .cabecalho h1{
    font-size: 3rem;
    font-weight: 700;
    transition: 0.2s;
}

.header .cabecalho a:hover h1{
    color: coral;

}
/*estio e animação section"hero"*/
.hero{
    grid-area: hero;
    height: 89vh;
    background: url(../img/lemons.jpg)center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero h2{
    font-weight: 500;
    text-transform: uppercase;
}

.hero::after{
    content: url(../img/seta_preta.png);
    position: absolute;
    height: 35px;
    bottom: 30px;
    animation: alternar 0.6s infinite alternate
    ease-in-out;
}

@-webkit-keyframes alternar{
    0% { -webkit-transform: translateY(0); opacity: 0.4;}
    100%{ -webkit-transform: translateY(1em); opacity:0.9;}
}

@media(max-widhth:420px){
    .hero{
        height: 60vh;
    }

    .hero{
        font-size: 2.5rem;
    }
}

.about{
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
    max-width: var(--max-widh-size);
    margin: 0 auto;
}

.about .item{
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about .item h3{
    font-weight: 700;
    font-size: 4rem;
}

.about .item p{
    font-size: 1.8rem;
    margin: 30px 0px;
}

.about .item .btn-saiba-mais{
    font-size: 1.6rem;    
    align-self: flex-start;
}

.about .item .btn-saiba-mais:hover{
    font-weight: 600;
}

.about .image{
    height: 100%;
    left: 100%;
}

.about .image.right{
    background: url(../img/bridge.jpg) center center no-repeat;
    background-size: cover;

}

.about .image.left{
    background: url(../img/sky.jpg) center center no-repeat;
    background-size: cover;
}
 .service{
    grid-area: service;
    background-color: rgb(88, 13, 200);
}

.projects{
    grid-area: projects;
    background-color: rgb(111, 26, 209);
}

.rodape{
    grid-area: rodape;
    background-color: rgb(142, 2, 202);
}
