.header .cabecalho ul{
    display: flex;
    transition: 0.2s;
}

.header .cabecalho ul li a{
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.3s;
    font-weight: 400;

}

.header .cabecalho ul :hover a{
    color: #ffff;
    background-color: coral;
}

.header .menu{
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
}

.header .hamburg{
    background-color: #000;
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}

.header .hamburg:before,
.header .hamburg:after{
    background-color: #000;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}

.header .hamburg:before{
    top: -10px;
}

.header .hamburg:after{
    bottom: -10px;
}

.header input{
    display: none;
}

.header input:checked ~ label .hamburg{
    transform: rotate(45deg);
}

.header input:checked ~ label .hamburg::before{
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~ label .hamburg::after{
    transform: rotate(90deg);
    top: 0;
}

@media (max-width: 900px){

    .header .menu{
        display: block;
        
    }

    .header .navegador ul{
        display: none;
    }

    .header input:checked ~ ul{
        display: block;
    }

    .header nav{
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
    }

    .header nav ul{
        width: 200px;
        background-color: rgba(255, 255, 255, 0.809);
        padding: 20px;
    }

    .header nav ul a{
        text-align: center;
        padding: 20px;
        display: block;
        font-weight: 400;
    }

}